*{
    margin: 0%;
    padding: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,7rem);
    padding-left: var(--bs-gutter-x,7rem);
}
.carousel-dark .carousel-caption {
    color: white;
}
.frist-card {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin: 50px;
    position: relative;
}
.card-dis{
    display: flex;
    justify-content: center;
    column-gap:200px;
    margin-top: 0%;
    position: relative;
}
.gallery{
    display: flex;
    justify-content: center;
    column-gap: normal;
}
